ConnectionStrings__DefaultConnection=Host=127.0.0.1;Port=5432;Database=swipefilm;Username=postgres;Password=
Jwt__Secret=
Encryption__Secret=
Tmdb__ApiKey=
Webhooks__RadarrToken=
Webhooks__SonarrToken=
